.menu {
  width: auto;
  position: absolute;
  z-index: 999;
}

.addMenu {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.481);
  text-align: center;
  background-color: white;
  border-radius: 8px;
  font-size: 13px;
  font-family: Video, monospace;
  position: relative;
}


.add1 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
}


p {
  cursor: pointer;
  padding: 8px;
}


.division .container {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  height: 240px;
  width: 120px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  transition: 0.5s;
}

.A {
  border: 1px solid blue !important;
}

.B {
  border: 1px solid red !important;
}

.C {
  border: 1px solid green !important;
}

.division .container:hover {
  background-color: rgba(117, 117, 117, 0.635);
}

.division {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  height: 240px;
}