.menu {
  display: none;
  position: absolute;
  z-index: 999;
}

.options,
.addMenu {
  display: block;
  /* flex-direction: column; */
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.481);
  text-align: center;
  background-color: white;
  border-radius: 8px;
  font-size: 13px;
  font-family: Video, monospace;
}
.addMenu {
  height: 73.5px;
  margin: -24px 0 0 4px;
}
.menuOption,
.add {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add {
  padding: 4px;
  
}

.right-arrow {
  width: 8px;
}

p {
  cursor: pointer;
  ;
}