@import url("https://p.typekit.net/p.css?s=1&k=yga1zcx&ht=tk&f=43349.43352.43354.43357&a=133775997&app=typekit&e=css");

@font-face {
    font-family: 'video';
    src: url("https://use.typekit.net/af/03c70f/00000000000000007735cbd6/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/03c70f/00000000000000007735cbd6/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/03c70f/00000000000000007735cbd6/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: 'IBM-Light';
    src: url('../assets/font/IBMPlexMono-ExtraLightItalic.ttf');
}


@font-face {
    font-family: 'IBM-SemiBold';
    src: url('../assets/font/IBMPlexMono-SemiBold.ttf');
}

@font-face {
    font-family: 'IBM-Medium';
    src: url('../assets/font/IBMPlexMono-Medium.ttf');
}

* {
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    background-image: url("../assets/background/gameover.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    float: left;
    display: flex;
    margin-top: 32px;
}

.titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Video";
    text-transform: uppercase;
}

.titre h1 {
    font-size: 173px;
    position: static;
    color: #fff;
}

.titre h2 {
    font-size: 90px;
    margin-bottom: 64px;
    color: #fff;
}

.bouttons li a {
    text-decoration: none;
    color: #000063;
    font-size: 45px;
    background-color: #fff;

    margin-left: 30px;
    padding: 23px 77px;
    border-radius: 50px;
    font-family: "IBM-SemiBold";
}

.bouttons li:first-child a {
    margin: 0;
}

.bouttons a:hover {
    background-color: #000063;
    color: #fff;
    border: 1px solid #000063;
}

#Quit {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

#Quit:hover {
    border: 1px solid #000063;
    color: #000063;
}